<div class="row full-height">
	<div class="col-xs-16 col-sm-11 col-md-11 full-height">
		<div class="row height-30 height-sm-40 light-grey text-row">
			<div class="col-xs-16">
				<h1 class="text-uppercase" ng-bind-html="heading"></h1>
				<div ng-bind-html="desc"></div>
			</div>
		</div>
		<div class="row height-70 height-sm-60 light-grey design-hero">
			<div id="sliderwrapper">
    			<ul id="experimental2" slideit="pictures"></ul>
			</div> 
		</div>
		<!--
		<div class="row height-70 height-sm-60 light-grey design-hero {{direction}}">
			<div ng-repeat="slide in slides" ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()" class="slide {{slide.rel}}" ng-hide="!isCurrentSlideIndex($index)"></div>
			<nav class="nav">
				<div class="wrapper">
					<ul class="dots list-inline">
						<li class="dot" ng-repeat="slide in slides">
							<a ng-class="{'active':isCurrentSlideIndex($index)}" ng-click="setCurrentSlideIndex($index);">{{slide.description}}</a>
						</li>
					</ul>
				</div>
			</nav>
		</div> -->
	</div>
	<div class="col-xs-16 col-sm-5 col-md-5 full-height">
		<div class="row height-70 light-grey design-learn learn-more-container">
			<div ng-hide="showOverlay" class="container-fluid learn-more-button">
				<div class="col-xs-16">
					<a ng-click="showOverlay = !showOverlay" class="learn-more"><span class="" aria-hidden="true">+</span>apprendre encore plus</a>
				</div>
			</div>
			<div ng-show="showOverlay" class="container-fluid full-height learn-more-overlay">
				<div class="col-xs-16">
					<a ng-click="showOverlay = !showOverlay" class="close-learn-more"><span class="" aria-hidden="true">x</span>près</a>
					<div ng-bind-html="learnmore"></div>
				</div>
			</div>
		</div>
		<div class="row height-30 dark-grey design-next">
			<a href="Hydromassage" class="next">Suivant<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
		</div>
	</div>
</div>