<div class="row">

	<form ng-submit="submit(orderForm)" name="orderForm" method="post" role="form" class="full-height" >

		<div class="col-sm-16 col-sm-8 col-md-8">
			<div class="form-group" ng-class="{ 'has-error': orderForm.firstName.$invalid && submitted }">
				<label for="firstName">Prénom *</label>
				<input type="text" class="form-control" id="firstName" name="firstName" placeholder="" ng-model="formData.firstName" required>
			</div>
		</div>
		<div class="col-sm-16 col-sm-8 col-md-8">
			<div class="form-group" ng-class="{ 'has-error': orderForm.lastName.$invalid && submitted }">
				<label for="lastName">Nom De Famille *</label>
				<input type="text" class="form-control" id="lastName" name="lastName" placeholder="" ng-model="formData.lastName" required>
			</div>
		</div>
		<div class="col-sm-16 col-sm-8 col-md-8">
			<div class="form-group" ng-class="{ 'has-error': orderForm.phone.$invalid && submitted }">
				<label for="phone">Téléphone</label>
				<input type="tel" class="form-control" id="phone" name="phone" placeholder="" ng-model="formData.phone">
			</div>
		</div>
		<div class="col-sm-16 col-sm-8 col-md-8">
			<div class="form-group" ng-class="{ 'has-error': orderForm.email.$invalid && submitted }">
				<label for="email">Email *</label>
				<input type="email" class="form-control" id="email" name="email" placeholder="" ng-model="formData.email" required>
			</div>
		</div>
		<div class="col-sm-16 col-sm-8 col-md-8">
			<div class="form-group" ng-class="{ 'has-error': orderForm.zipCode.$invalid && submitted }">
				<label for="zipCode">Code postal *</label>
				<input type="text" class="form-control" id="zipCode" name="zipCode" placeholder="" ng-model="formData.zipCode" required>
			</div>
		</div>
		<div class="col-xs-16">
			<p>* Les champs obligatoires. {{resultMessage}}</p>
		</div>
		<div class="col-xs-16">
			<button type="submit" class="btn btn-primary btn-lg text-uppercase" ng-disabled="submitButtonDisabled">Soumettre</button>
		</div>

	</form>

</div>